**/node_modules/
node_modules/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/.env
.env
.env.local
.env.*.local

.DS_Store
.vscode/
.idea/

.vercel/
dist/

**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

*.rbxl
*.rbxlx
