DISCORD_TOKEN=your_bot_token
CLIENT_ID=your_bot_client_id
GUILD_ID=your_discord_server_id
BACKEND_URL=https://your-vex-backend.vercel.app
BOT_SECRET=shared_secret_backend
OWNER_DISCORD_ID=your_discord_id
OWNER_DISCORD_IDS=id1,id2
ADMIN_CHANNEL_ID=1506410371924099207
ADMIN_ROLE_ID=1506762995273830532
ADMIN_ROLE2_ID=1506765793638088785
RENEWAL_REMINDER_HOURS=22
